@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');



.mainContainer{
    padding: 130px;
    display:flex;
    width:100%;
    height:100 ;
    justify-content: center;
    align-items: center;
}
.Card{
width:700px;
height:800px;
background: white;
border-radius: 10px;
box-shadow:0px 1px 10px 1px black;
overflow: hidden;
}
.UpperContainer{
height:100px;
background:linear-gradient(to left, #ff8149, #ff494e)
}

.UpperContainer h3{
    color:white;
    font-weight:900;
    font-size:3rem;
}

.LowerContainer {
    margin-top:25px;
    height:300px;
    background:white;
    font-family: 'Titillium Web', sans-serif;
}

.LowerContainer h3{
    color:#2f2d2e;
    font-weight:600;
    font-size:1.5rem;
    text-align: left;
}
.LowerContainer h4{
    color:#ff494e;
    font-weight:700;
    font-size:2.1rem;
}
.B{
    margin:1rem;
    margin-top: 0;
    color:#ff494e;
    font:bold;
    background-color: white;
    border: 2px solid #ff494e;
    padding:0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
    width:400px;
}
.B:hover{
    background-image:linear-gradient(to left, #ff8149, #ff494e);
    transform: scale(1.1);
    border:none;
    color:white;
}
